body {
    width: 100%;
    margin: 0;
    padding: 0;
}
.header {
    padding: 20px;
    background-color: #D3B8DB;
    display: flex;
    justify-content: flex-end;
}
.btn-cart{
    padding: 10px 15px;
    border-radius: 10px;
    border: 2px solid;
    font-size: 15px;
    background-color: rgb(194, 192, 192);
}

.products {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    flex-wrap: wrap;
}
.product-title{
    font-size: 20px;
}




.cart-list{
    display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgb(0,0,0,0.7);
}

.cart-list-section{
  width: 80%;
  border-radius: 15px;
  background-color: #ffffff;
  margin: 0 auto;
  padding: 10px;
  position: absolute;
  left: 10%;
  top: 100px;
  color: #464445;
  font-size: 23px;
}

.cart-list-title{
    text-align: center;
}

.cart-list-total{
    text-align: center;
}